"*":
  "exception-reporting":
    userId: "8f4c9e06-b200-a779-3cf6-a3c7da476190"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-dark-ui"
      "atom-monokai"
    ]
    autoHideMenuBar: true
    disabledPackages: [
      "jslint"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "tabs-to-spaces":
    onSave: "untabify"
  minimap:
    displayMinimapOnLeft: true
    absoluteMode: true
  "atom-beautify":
    _analyticsUserId: "3e981aab-efa8-48d5-a80f-02bb7465ac21"
  "highlight-selected":
    lightTheme: true
